PngImage_1 RCDATA "images\\barcode_icon.png"
JpgImage_1 RCDATA "assets\\pix4_image_abacaxi.jpg"
JpgImage_2 RCDATA "assets\\pix4_image_banana.jpg"
JpgImage_3 RCDATA "assets\\pix4_image_chocolate.jpg"
JpgImage_4 RCDATA "assets\\pix4_image_detergente.jpg"
JpgImage_5 RCDATA "assets\\pix4_image_ervilha.jpg"
JpgImage_6 RCDATA "assets\\pix4_image_feijao.jpg"
JpgImage_7 RCDATA "assets\\pix4_image_goiabada.jpg"
JpgImage_8 RCDATA "assets\\pix4_image_hamburguer.jpg"
JpgImage_9 RCDATA "assets\\pix4_image_iogurte.jpg"
JpgImage_10 RCDATA "assets\\pix4_image_jaca.jpg"
