<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-elgin-smartpos"
    version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-elgin-smartpos</name>
    <js-module name="main" src="www/main.js">
        <clobbers target="cordova.plugins.elgin.smartpos" />
    </js-module>

     <dependency id="cordova-plugin-androidx-adapter" version="1.1.3" />
    
     <!--android-->  
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MainActivity">
                <param name="android-package" value="plugin.MainActivity" />
                <param name="onload" value="true" />

            </feature>

            <!-- Incluindo propriedade referente ao uso do AndroidX como true -->
            <preference name="AndroidXEnabled" value="true" />
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        
        </config-file>
        
         <!-- executable source code > -->
        <source-file src="src/android/MainActivity.java" target-dir="src/cordova-plugin-elgin-smartpos/cordova-plugin-elgin-smartpos" />
    

        <framework src="src/build.gradle" custom="true" type="gradleReference" />

        <!-- Lib Files -->
        <resource-file src="src/libs/e1-v1.0.16-release.aar" target="libs/e1-v1.0.16-release.aar" />
        <resource-file src="src/libs/cloudpossdk-s-1.0.2.aar" target="libs/cloudpossdk-s-1.0.2.aar" />
        <resource-file src="src/libs/InterfaceAutomacao-v2.0.0.9.aar" target="libs/InterfaceAutomacao-v2.0.0.9.aar" />
        <resource-file src="src/libs/scanner.aar" target="libs/scanner.aar" />

    </platform>
</plugin>